.taskGrid {
    display: grid;
    width: 100%;
    gap: 1rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (min-width: 1024px) {
    .taskGrid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
